@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-slate-600 bg-slate-50 font-sans;
  }
}

/* Custom Scrollbar dla nowoczesnego wyglądu (Webkit) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full border-4 border-transparent bg-clip-content;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}

/* Klasa pomocnicza dla tła w kropki (Digital Twin style) */
.bg-dot-pattern {
  background-image: radial-gradient(#cbd5e1 1px, transparent 1px);
  background-size: 24px 24px;
}